@import "bootstrap";
@import "bootstrap-responsive";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Alegreya+SC);

body{
  background: #3C494F;
}

.header .span12{
  background: #C77454;
  color: #F8E5AD;
  border-bottom: 1em solid #E4C068;
  .jumbotron {
    padding: 3em 1em;
    text-align: center;
    h1{
      font-family: 'Alegreya SC';
      font-size: 10em;
      line-height: 1;
      @include text-shadow(0px 2px 1px white);
    }
    .lead{
      padding: 0 1em;
      font-size: 24px;
      line-height: 1.25;
    }
  }
}

.container{
  background: #F8E5AD;
  color: #3C494F;
  .content{
    padding: 20px 0px;
    .span8{
      padding: 20px;
    }
  }
}


.form-container{
  text-align: center;
  padding: 0 10px;
  p{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: 200;
  }
  input[type=text]{
    height: auto;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
  select{
    font-size: 30px;
    height: auto;
  }
  #day{
    width: 110px;
  }
  #month{
    width: 195px;
  }
  #year{
    width: 110px;
  }
  button{
    font-size: 30px;
    height: auto;
    padding: 20px;
    margin-top: 30px;
  }
}
.download{
  text-align: center;
  background: #E4C068;
  a{
    font-size: 30px;
    height: auto;
    padding: 20px;
  }
  .span8{
    padding: 20px 10px 30px;
  }
}
.vaccines{
  li, h1, h4, small {
    font-weight: 200;
  }
}

@media (max-width: 767px){
  body{
    background: red;
    padding: 0;
  }
  .header .span12{
    .jumbotron {
      padding: 1em;
      h1{
        font-size: 4em;
        @include text-shadow(0px 1px 1px white);
      }
      .lead{
        font-size: 1em;
      }
    }
  }
  .form-container{
    text-align: center;
    padding: 0 10px;
    p{
      font-size: 25px;
    }
    select{
      width: 100% !important;
    }
  }
  .download{
    a{
      font-size: 16px;
      line-height: 1em;
      padding: 0.5em;
    }
  }
}
